body {

    background-color: rgb(206, 212, 198);
    font-family: 'Nunito Sans', sans-serif;
  
}

.h1 {

    font-family: 'Nunito sans'; 

}

.button {

    font-family: 'Nunito sans';
}
